.slide_bar {
    position: relative;
    max-width: 950px;
    margin: auto;
}

.fade {
    display: none;
}


/*
previous and next button
*/

.pre,
.nex {
    position: absolute;
    cursor: pointer;
    margin-top: 28%;
    width: 50px;
    color: white;
    font-size: 20px;
    transition: 2s ease;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.nex {
    right: 0px;
}

.pre:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.nex:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/*
clickable dot
*/

.dot {
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 560px;
    margin-left: 10px;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: rgb(65, 65, 65);
}